*,
html {
  --play-top: 15px;
  --play-panel-bg: 1, 36, 58;

  --bg-color-rgb: 255, 255, 255;
  --text-color-hex: 255, 255, 255;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
