@use "../../common.scss" as *;

.base {
  background: transparent;
  border: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  user-select: none;

  &__theme {
    &-ghost {
      border-radius: 10px;
      backdrop-filter: blur(10px);
      height: 35px;
      display: flex;
      align-items: center;
      color: rgba(var(--text-color-hex), 1);

      &:hover,
      &:focus,
      &:active {
        background: rgba(var(--bg-color-rgb), 0.05);
      }
    }

    &-primary {
      color: rgba(var(--text-color-hex), 1);
      line-height: 125%;
      letter-spacing: 0.75px;
      border-radius: 10px;
      height: 39px;
      width: 231px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 10px;
      margin-top: 7px;
    }
  }

  &__state {
    &-disabled {
      color: rgba(var(--text-color-hex), 0.5) !important;
      pointer-events: none;
    }
  }
}

.buttonCashout {
  background: linear-gradient(357deg, #7f44c3 22.01%, #9f5eeb 97.97%);
}

.buttonSweeps {
  background: linear-gradient(357deg, #10be68 23.9%, #29cf7d 97.97%);
}

.buttonGold {
  background: linear-gradient(357deg, #bf9e21 22.01%, #f0c72c 97.97%);
}
